:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-flex {
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-box {
  background-color: blue;
  height: 100%;
  max-width: 30%;
  margin: 0 auto;
}
